In [10]:
#functions
#user defined function
## without parameters, no input n return
# function defination
def sum(): #function header
    a = 12
    b = 23
    c = a + b
    print("the sum of a and b is :", c)

In [11]:
#functions
#user defined function
# with parameter
# function defination
def sum(a,b): #function header
    c = a + b
    print("the sum of a and b is :", c)

In [6]:
# function call
sum(1,3)

the sum of a and b is : 4

In [8]:
def even_odd(n):
    if n%2 == 0:
        print(n,"even")
    else:
        print(n, "id odd")

In [9]:
# find the number is even or odd from 1 to 50
for v in range(1,51):
    even_odd(v)

1 id odd
2 even
3 id odd
4 even
5 id odd
6 even
7 id odd
8 even
9 id odd
10 even
11 id odd
12 even
13 id odd
14 even
15 id odd
16 even
17 id odd
18 even
19 id odd
20 even
21 id odd
22 even
23 id odd
24 even
25 id odd
26 even
27 id odd
28 even
29 id odd
30 even
31 id odd
32 even
33 id odd
34 even
35 id odd
36 even
37 id odd
38 even
39 id odd
40 even
41 id odd
42 even
43 id odd
44 even
45 id odd
46 even
47 id odd
48 even
49 id odd
50 even

In [12]:
def even_odd(n):
    if n%2 == 0:
        return "even"
    else:
        return "odd"

In [16]:
ans = even_odd(3)
print(ans)

odd

In [17]:
print(ans)

odd

In [18]:
def my_function():
    print("hello from a function")

In [19]:
def my_function():
    print("hello from a function")

my_function()

hello from a function

In [20]:
def my_function(frame):
    print(frame + "refsnes")

my_function("email")
my_function("tobias")
my_function("linus")

emailrefsnes
tobiasrefsnes
linusrefsnes

In [21]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [32]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", " shahzad gul")  # Replace "Doe" with the desired last name

Emil  shahzad gul

In [28]:
def my_funtion(*kids):
    print("the youngest child is " + kids[2])

my_function("email", "tobias",)

email tobias

In [30]:
def my_function(child3, child2, child1):
    print("the youngest child is " + child3)

my_function(child1 = "email", child2 = "tobias", child3 = "linus")

the youngest child is linus

In [31]:
def my_function(**kid):
    print("his last name is " + kid["shahzad"])

my_function(frame = "tobias", shahzad= "shahzad gul")

his last name is shahzad gul

In [34]:
def my_function(country = "norway"):
    print("i am from" + country)

my_function("pakistan")
my_function("mulatn")
my_function()
my_function("muzaffargarh")

i am frompakistan
i am frommulatn
i am fromnorway
i am frommuzaffargarh

In [35]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [36]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [37]:
def myfunction():
  pass

# having an empty function definition like this, would raise an error without the pass statement

In [38]:
def my_function(x, /):
    print(x)

my_function(3)

3

In [41]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [43]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [44]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [45]:
def my_function(x):
  print(x)

my_function(3)

3

In [46]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [47]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21